<%- include('partials/head')%>
<%- include('partials/navigatie')%>


<body>
    <main>
        <style>
            main {
                padding-top: 10rem;
                list-style: none;
            }
        </style>
        <h1>De favorieten van <span><%= data.name %></span></h1>
        <ul class="favorieten">
            <% data.linked_item.forEach(item => { %>
                <li>
                    <h3><%= item.oba_item_id.title %></h3>
                    <p><%= item.oba_item_id.id %></p>
                </li>
            <% }); %>
        </ul>
        
    </main>
</body>


<%- include('partials/footer')%>
