<%- include('partials/navigatie')%>


<section class="main">
    <article>
        <div>
            <h1>Welkom <span>Mark Vos</span> bij OBA!</h1>
            <p>
                Ontdek een wereld vol kennis en verhalen. Hier vind je al jouw 
                gegevens zoals leningen en betalingen.
                Ook kan je hier nieuwe activiteiten ontdekken.
            </p>
        </div>
        <img src="https://mijn-oba-rc.netlify.app/oba-logo-blauw.webp">
    </article>
</section>

<section class="main_sections">
    <article>
        <%- include('./partials/section.ejs', { 
            data: data, 
            item: 'book', 
            listClass: 'boeken_lijst', 
            scrollAmount: 200,             
            title: 'Jouw recent bekeken leeslijst: ',
            title_span: "boeken",
            description: "Deze boeken heb je toegevoegd aan jouw leeslijst en wil je ooit nog lezen!",
            linkText: 'Bekijk Leeslijst' }) %>
    </article>
</section>

<section class="main_sections">
    <article>
        <%- include('./partials/section.ejs', { 
            data: data, 
            item: 'cd', 
            listClass: 'cd_lijst', 
            scrollAmount: 200,           
            title: 'Jouw recent beluisterde: ',
            title_span: "CD's",
            description: "Deze CD's heb je toegevoegd aan jouw luisterlijst en wil je ooit nog luisteren!",
            linkText: 'Bekijk Luisterlijst' }) %>
    </article>
</section>

<section class="main_sections">
    <article>
        <%- include('./partials/section.ejs', { 
            data: data, 
            item: 'activity', 
            listClass: 'activiteiten_lijst', 
            scrollAmount: 200,             
            title: 'Jouw recent bekeken: ',
            title_span: 'activiteiten',
            description: 'Deze activiteiten heb je toegevoegd aan jouw activiteitenlijst en wil je nog aan meedoen!',
            linkText: 'Bekijk activiteitenlijst' }) %>
    </article>
</section>

<section class="main_sections">
    <article>
        <%- include('./partials/section.ejs', { 
            data: data, 
            item: 'activity', 
            listClass: 'cursus_lijst', 
            scrollAmount: 200, 
            title: 'Ontdek de Wereld van Leren bij OBA!',
            title_span: '',
            description: 'Bij OBA bieden we niet alleen een schat aan boeken, maar ook een wereld van kennis en leren. Ontdek onze cursussen, van talen en schoolvakken tot rijles theorie en meer. Investeer in jezelf, breid je vaardigheden uit en verrijk je leven met onze educatieve programma\'s. Kom langs en begin vandaag nog met leren!',
            linkText: 'Meer bekijken'
        }) %>
            </article>
</section>

<%- include('./partials/footer.ejs') %>
