<%- include('partials/head')%>
<section class="user_section">
    <img class="oba_logo" src="https://mijn-oba-rc.netlify.app/oba-logo-blauw.webp">
    <h1>Selecteer een profiel</h1>
    <ul class="user_select">
    <% apiUser.forEach(function(profile) { %>
        <li>
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= profile.avatar%> %>?format=avif" media="(max-width: 160px)" type="image/avif">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= profile.avatar%>?format=webp" type="image/webp">
                <img onclick="window.location.href='/home/<%= profile.id %>'"src="https://fdnd-agency.directus.app/assets/<%= profile.avatar%>" loading="lazy"/>
            </picture>
            <h2><%= profile.name %></h2>
            
        </li>
    <% }); %>
    </ul>
</section>